<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BSIT Fund Collection Management System</title>
  <link rel="stylesheet" href="/login.css">
</head>
<body>
  <div class="login-container">
    <img src="/BSIT_LOGO.png" alt="College Logo" class="logo">
    <h1>BSIT FUND COLLECTION MANAGEMENT SYSTEM</h1>
    <form method="post" action="/login"> 
      <input type="text" placeholder="USERNAME" name="username" required>
      <input type="password" placeholder="PASSWORD" name="password" required>
      <button type="submit">LOG IN</button>
    </form>
  </div>
  
</body>
</html>
