<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSIT Fund Collection Management System</title>
    <link rel="stylesheet" href="TREASURER_CSS/Tresurer_dashboard.css">
</head>
<body>
  <header>
    <div class="logo">
        <img src="/BSIT_LOGO.png" alt="Logo">
        <span class="BS">BSIT FUND COLLECTION<br><span class="IT"> MANAGEMENT SYSTEM</span></span>
    </div>
    <nav class="nav">
        <a href="Treasurer_dashboard">DASHBOARD</a>

        <a href="Treasurer_create_payable">PAYABLE</a>
        
        <div class="dropdown">
            <a href="#" class="dropbtn" onclick="toggleDropdown('remittanceDropdown')">REMITTANCE</a>
            <span class="arrow" onclick="toggleDropdown('remittanceDropdown')"></span>
            <div class="dropdown-content" id="remittanceDropdown">
                <a href="Treasurer_BSIT_3A_remittance">BSIT-3A</a>
                <a href="Treasurer_BSIT_3B_remittance">BSIT-3B</a>
            </div>
        </div>
        
          

        </div>
        <div class="dropdown">
            <a href="#" class="dropbtn" onclick="toggleDropdown('reportDropdown')">REPORT</a>
            <span class="arrow" onclick="toggleDropdown('reportDropdown')"></span>
            <div class="dropdown-content" id="reportDropdown">
                <a href="#">MONTHLY REPORT</a>
                <a href="#">EXPENSES</a>
            </div>
        </div>
        <a href="Treasurer_register_user">REGISTER</a>
        <img src="/user.jpg" alt="User Icon" class="user-icon">
    </nav>
</header>

    <div class="padding">
        <div class="welcome">Welcome! (Treasurer's name)</div>
        
        <div class="card-container">
            <div class="card">
                <h2>FUNDS</h2>
                <p>₱5,000.00</p>
            </div>
            <div class="card">
                <h2>RECEIVABLE</h2>
                <p>₱10,000.00</p>
            </div>
            <div class="card">
                <h2>EXPENSES</h2>
                <p>₱1,000.00</p>
            </div>
        </div>
    </div>

    <script src="/TREASURER_JS/Treasurer_dashboard.js"></script>
</body>
</html>
