body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8; 
  padding: 10px; 
  border-bottom: 2px solid green; 
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width:150px; 
  height: 100px; 
}

.logo span {
  font-size: 20px; 
  font-weight: bold; 
  color: rgb(0, 0, 0); 
  text-align: left; 
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav a {
  text-decoration: none;
  color: green;
  font-weight: bold;
  padding: 10px 15px;
  transition: background-color 0.3s; 
}

.nav a:hover {
  background-color: #d1e7dd; 
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none; 
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1; 
}

.show {
  display: block; 
}

.user-icon {
  height: 40px; 
  border-radius: 50%; 
  margin-right: 20px;
  margin-left: 20px;
}

.welcome {
  margin-top: 50px ;
  font-size: 30px;
  animation: fadeIn 0.5s ease-in-out;
}

.card-container {
  display: flex;
  gap: 40px;
  margin-top: 100px;
}

.card {
  flex: 1;
  background-color: #bbdfc1;
  padding: 120px;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}


.card h2 {
  margin: 0;
}

.padding {
  padding: 50px;
}


@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


